{% extends 'base.html.twig' %}

{% block title %}Пользователи{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col">
                <h1>Пользователи</h1>
            </div>
            <div class="col col-md-4">
                <a href="/user/add" class="btn btn-primary">Добавить пользователя</a>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        {% set columns = {
                            lastname: 'Фамилия',
                            firstname: 'Имя',
                            patname: 'Отчество',
                            status: 'Статус',
                        } %}
                        {% for field, title in columns %}
                            {% set class = ['sortable'] %}
                            {% if sorted is same as(field) %}
                                {% if order is same as('DESC') %}
                                    {% set class = class|merge(['sorted-desc']) %}
                                {% else %}
                                    {% set class = class|merge(['sorted']) %}
                                {% endif %}
                            {% endif %}
                            <th scope="col" class="{{ class|join(' ') }}" data-field="{{ field }}">
                                <span class="filterable">{{ title }}</span>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr class="clickable" data-href="/user/{{ user.id }}/edit">
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.patname }}</td>
                            <td>{{ user.status | replace({1: "Первый", 2: "Второй", 3: "Третий"}) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
